predict home price based on age,bedrooms,area

In [2]:
import pandas as pd
from sklearn import linear_model

In [4]:
df=pd.read_csv('homeprices.csv')
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [5]:
#clear missing values
#we will replace nan values with median of that column
df.bedrooms.median()

4.0

In [6]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
df2=df.drop('price',axis='columns')

In [8]:
price=df.price

In [9]:
reg=linear_model.LinearRegression()
reg.fit(df2,price)

LinearRegression()

In [10]:
reg.coef_ #m y=m1*area+m2*bedrooms+m3*age+c

array([  112.06244194, 23388.88007794, -3231.71790863])

In [11]:
reg.intercept_

221323.00186540408

In [12]:
reg.predict([[3000, 3, 40]])

array([498408.25158031])

In [13]:
112.06244194*3000 + 23388.88007794*3 + -3231.71790863*40 + 221323.00186540384

498408.25157402386

In [14]:
reg.predict([[2500, 4, 5]])

array([578876.03748933])