### Given data build a machine learning model that can predict home prices based on square feet area

In [1]:
import pandas as pd
from sklearn import linear_model

In [2]:
df=pd.read_csv('homeprices.csv')

In [6]:
df2=df.drop('price',axis=1)

In [7]:
price = df.price

In [9]:
# Create linear regression object
reg = linear_model.LinearRegression()
reg.fit(df2,price)

LinearRegression()

In [10]:
reg.predict([[3300]])

array([628715.75342466])

In [11]:
reg.coef_ #m

array([135.78767123])

In [12]:
reg.intercept_ #c

180616.43835616432

In [13]:
3300*135.78767123 + 180616.43835616432 #y=mx+c

628715.7534151643

In [14]:
## test
area_df = pd.read_csv("areas.csv")
area_df.head(3)

   area
0  1000
1  1500
2  2300

In [15]:
p = reg.predict(area_df)
p

array([ 316404.10958904,  384297.94520548,  492928.08219178,
        661304.79452055,  740061.64383562,  799808.21917808,
        926090.75342466,  650441.78082192,  825607.87671233,
        492928.08219178, 1402705.47945205, 1348390.4109589 ,
       1144708.90410959])

In [16]:
area_df['prices']=p
area_df

    area        prices
0   1000  3.164041e+05
1   1500  3.842979e+05
2   2300  4.929281e+05
3   3540  6.613048e+05
4   4120  7.400616e+05
5   4560  7.998082e+05
6   5490  9.260908e+05
7   3460  6.504418e+05
8   4750  8.256079e+05
9   2300  4.929281e+05
10  9000  1.402705e+06
11  8600  1.348390e+06
12  7100  1.144709e+06

In [17]:
area_df.to_csv("prediction.csv")